name: Deploy to Render

on:
  push:
    branches: [ "main" ]   # auto-deploy when you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Trigger Render Deployment
        run: |
          curl "$RENDER_DEPLOY_HOOK"

        env:
          RENDER_DEPLOY_HOOK: ${{ secrets.RENDER_DEPLOY_HOOK }}
